@model IEnumerable<NetSystem.Entity.Machinery>

@{
    ViewData["Title"] = "ماشین آلات";
}

<h1>تجهیزات و ماشین آلات</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">جدید</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Coding)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MachineryTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDelete)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Coding.CodeTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MachineryTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDelete)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">ویرایش</a>
                    <a asp-action="Details" asp-route-id="@item.ID">جزئیات</a>
                    <a asp-action="Delete" asp-route-id="@item.ID">حذف</a>
                </td>
            </tr>
        }
    </tbody>
</table>
