@model NetSystem.ViewModels.RequestRepair.RequestReapirDetailsViewModel

@{
    ViewData["Title"] = "جزئیات";
}

<h2>جزئیات</h2>

<div>
    <h4>درخواست تعمیرات</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model=> model.ApplicantUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model=> model.ApplicantUser)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegisteredDataTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegisteredDataTime)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RequestDataTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RequestDataTime)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MachineryCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MachineryCode)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MachineryTitel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MachineryTitel)
        </dd>


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TypeofRepairList)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TypeofRepairList)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicantList)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApplicantList)
        </dd>



        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RequestTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RequestTitle)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">ویرایش</a> |
    <a asp-action="Index">بازگشت</a>
</div>
