@model NetSystem.ViewModels.RequestRepair.CreateOrderViewModel

@{
    ViewData["Title"] = "گزارش تعمیر";
}

<h2>گزارش تعمیر</h2>
<hr />
<form asp-controller="WorkOrders" asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group row">
                <label asp-for="RequestID_FK" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input asp-for="RequestID_FK" value="@ViewBag.RequestID" class="form-control" readonly="readonly" />
                </div>
            </div>

            <div class="card form-group ">
                <div class="card-header">نوع تعمیرات </div>
                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-sm-2">
                            <label class="form-check-label">
                                @Html.DisplayNameFor(model => model.Electrical) &nbsp;
                                <input class="form-check-input" asp-for="Electrical" />
                            </label>
                        </div>
                        <div class="col-sm-2">
                            <label class="form-check-label">
                                @Html.DisplayNameFor(model => model.Mecanical)&nbsp;
                                <input class="form-check-input" asp-for="Mecanical" />
                            </label>
                        </div>
                        <div class="col-sm-2">
                            <label class="form-check-label">
                                @Html.DisplayNameFor(model => model.Creating) &nbsp;
                                <input class="form-check-input" asp-for="Creating" />
                            </label>
                        </div>
                        <div class="col-sm-2">
                            <label class="form-check-label">
                                @Html.DisplayNameFor(model => model.Equip) &nbsp;
                                <input class="form-check-input" asp-for="Equip" />
                            </label>
                        </div>
                        <div class="col-sm-3">
                            <label class="form-check-label">
                                @Html.DisplayNameFor(model => model.Piping) &nbsp;
                                <input class="form-check-input" asp-for="Piping" />
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card form-group">
                <div class="card-header">علت خرابی</div>
                <div class="card-body">

                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label class="form-check-label">
                                @Html.DisplayNameFor(model => model.Cause_Exhaustion) &nbsp;
                                <input class="form-check-input" asp-for="Cause_Exhaustion" />
                            </label>
                        </div>
                        <div class="col-sm-6">
                            <label class="form-check-label">
                                @Html.DisplayNameFor(model => model.Cause_OperatorNegligence) &nbsp;
                                <input class="form-check-input" asp-for="Cause_OperatorNegligence" />
                            </label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label class="form-check-label">
                                @Html.DisplayNameFor(model => model.Cause_QualityofSpareParts) &nbsp;
                                <input class="form-check-input" asp-for="Cause_QualityofSpareParts" />
                            </label>
                        </div>
                        <div class="col-sm-6">
                            <label class="form-check-label">
                                @Html.DisplayNameFor(model => model.Cause_RepairmanError) &nbsp;
                                <input class="form-check-input" asp-for="Cause_RepairmanError" />
                            </label>
                        </div>
                    </div>
                    <div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text cursor-pointer">سایر</span>
                            </div>
                            <input asp-for="OtherErrorDescription" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text cursor-pointer">شرح تعمیر</span>
                    </div>
                    <textarea rows="8" asp-for="ReportRepair" class="form-control"></textarea>
                </div>
            </div>


        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text cursor-pointer" id="date1">شروع کار</span>
                    </div>
                    <input type="text" id="StartWorking" class="form-control" aria-label="date1" aria-describedby="date1" />
                    <input type="hidden" id="StartWorkingMiladi" asp-for="StartWorking" aria-label="date1" aria-describedby="date1" />
                </div>
                <span asp-validation-for="StartWorking" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text cursor-pointer" id="date2">پایان کار</span>
                    </div>
                    <input type="text" id="DateTimeClosing" class="form-control" aria-label="date2" aria-describedby="date2" />
                    <input type="hidden" id="DateTimeClosingMiladi" asp-for="DateTimeClosing" aria-label="date2" aria-describedby="date2" />
                </div>
                <span asp-validation-for="DateTimeClosing" class="text-danger"></span>
            </div>


            <div class="card form-group">
                <div class="card-header">علت تاخیر انجام کار</div>
                <div class="card-body">
                    <div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text cursor-pointer">کمبود نیرو به مدت</span>
                            </div>
                            <input type="number" asp-for="PersonHoursTime" class="form-control" />
                            <div class="input-group-prepend">
                                <span class="input-group-text cursor-pointer">دقیقه</span>
                            </div>
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text cursor-pointer">شرح</span>
                            </div>
                            <input asp-for="PersonHoursDescription" class="form-control" />

                        </div>
                    </div>
                    <br />
                    <div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text cursor-pointer">برنامه ریزی تولید</span>
                            </div>
                            <input type="number" asp-for="ProductionPlanningTime" class="form-control" />
                            <div class="input-group-prepend">
                                <span class="input-group-text cursor-pointer">دقیقه</span>
                            </div>
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text cursor-pointer">شرح</span>
                            </div>
                            <input asp-for="ProductionPlanningDescription" class="form-control" />
                        </div>
                    </div>
                    <br />
                    <div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text cursor-pointer">نبود قطعات یدکی</span>
                            </div>
                            <input type="number" asp-for="NoSparePartsTime" class="form-control" />
                            <div class="input-group-prepend">
                                <span class="input-group-text cursor-pointer">دقیقه</span>
                            </div>
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text cursor-pointer">شرح</span>
                            </div>
                            <input asp-for="NoSparePartsDescription" class="form-control" />
                        </div>
                    </div>
                    <br />
                    <div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text cursor-pointer">سایر</span>
                            </div>
                            <input type="number" asp-for="OtherTime" class="form-control" />
                            <div class="input-group-prepend">
                                <span class="input-group-text cursor-pointer">دقیقه</span>
                            </div>
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text cursor-pointer">شرح</span>
                            </div>
                            <input asp-for="OtherDescription" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group float-left">
                <input type="submit" value="ثبت گزارش" class="btn btn-primary" />
                <button type="button" class="btn btn-success">تعمیرات در خارج شرکت</button>
                <a class="btn btn-secondary" asp-action="Index">بازگشت به فهرست</a>

            </div>
        </div>
    </div>
</form>




@section Scripts
{
    <script>
        $('#date1').MdPersianDateTimePicker({
            targetTextSelector: '#StartWorking',
            targetDateSelector: '#StartWorkingMiladi',
            dateFormat: 'yyyy-MM-dd hh:mm:ss',
            disableAfterToday: true,
            enableTimePicker: true,
        });
        $('#date2').MdPersianDateTimePicker({
            targetTextSelector: '#DateTimeClosing',
            targetDateSelector: '#DateTimeClosingMiladi',
            dateFormat: 'yyyy-MM-dd hh:mm:ss',
            disableAfterToday: true,
            enableTimePicker: true,
        });

    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
