@model NetSystem.ViewModels.RequestRepair.CreateOrderViewModel

@{
    ViewData["Title"] = "گزارش تعمیر";
}

<h2>گزارش تعمیر</h2>
<hr />
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group row">
                <label asp-for="RequestID_FK" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input asp-for="RequestID_FK" class="form-control" readonly="readonly" />
                </div>
            </div>
            <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    نوع تعمیرات
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-sm-2">
                            <label class="form-check-label">
                                @Html.DisplayNameFor(model => model.Electrical) &nbsp;
                                <input class="form-check-input" asp-for="Electrical" />
                            </label>
                        </div>
                        <div class="col-sm-2">
                            <label class="form-check-label">
                                @Html.DisplayNameFor(model => model.Mecanical)&nbsp;
                                <input class="form-check-input" asp-for="Mecanical" />
                            </label>
                        </div>
                        <div class="col-sm-2">
                            <label class="form-check-label">
                                @Html.DisplayNameFor(model => model.Creating) &nbsp;
                                <input class="form-check-input" asp-for="Creating" />
                            </label>
                        </div>
                        <div class="col-sm-2">
                            <label class="form-check-label">
                                @Html.DisplayNameFor(model => model.Equip) &nbsp;
                                <input class="form-check-input" asp-for="Equip" />
                            </label>
                        </div>
                        <div class="col-sm-3">
                            <label class="form-check-label">
                                @Html.DisplayNameFor(model => model.Piping) &nbsp;
                                <input class="form-check-input" asp-for="Piping" />
                            </label>
                        </div>
                    </div>
                </div>
            </div>
           </div>
            @*<div class="form-group">
            <label asp-for="RepairOutSideReportID_FK" class="control-label"></label>
            <input asp-for="RepairOutSideReportID_FK" class="form-control" />
            <span asp-validation-for="RepairOutSideReportID_FK" class="text-danger"></span>
        </div>*@

            <div class="form-group">
                <label asp-for="StartWorking" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text cursor-pointer" id="date1">انتخاب</span>
                    </div>
                    <input type="text" id="StartWorking" class="form-control" aria-label="date1" aria-describedby="date1" />
                    <input type="hidden" id="StartWorkingMiladi" asp-for="StartWorking" aria-label="date1" aria-describedby="date1" />
                </div>
                <span asp-validation-for="StartWorking" class="text-danger"></span>
            </div>
            <div class="card">
                <div class="card-header">
                    علت خرابی
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label class="form-check-label">
                                @Html.DisplayNameFor(model => model.Cause_Exhaustion) &nbsp;
                                <input class="form-check-input" asp-for="Cause_Exhaustion" />
                            </label>
                        </div>
                        <div class="col-sm-6">
                            <label class="form-check-label">
                                @Html.DisplayNameFor(model => model.Cause_OperatorNegligence) &nbsp;
                                <input class="form-check-input" asp-for="Cause_OperatorNegligence" />
                            </label>
                        </div>
                        <div class="col-sm-6">
                            <label class="form-check-label">
                                @Html.DisplayNameFor(model => model.Cause_QualityofSpareParts) &nbsp;
                                <input class="form-check-input" asp-for="Cause_QualityofSpareParts" />
                            </label>
                        </div>
                        <div class="col-sm-6">
                            <label class="form-check-label">
                                @Html.DisplayNameFor(model => model.Cause_RepairmanError) &nbsp;
                                <input class="form-check-input" asp-for="Cause_RepairmanError" />
                            </label>
                        </div>
                        <div class="col-sm-12">
                            <label class="form-check-label">
                                @Html.DisplayNameFor(model => model.OtherError) &nbsp;
                                <input class="form-check-input" asp-for="OtherError" />
                            </label>
                        </div>
                        <div class="col-sm-12">
                            <label asp-for="OtherErrorDescription" class="control-label"></label>
                            <input asp-for="OtherErrorDescription" class="form-control" />
                            <span asp-validation-for="OtherErrorDescription" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="col-sm-6">

                <div class="form-group">
                    <label asp-for="ReportRepair" class="control-label"></label>
                    <input asp-for="ReportRepair" class="form-control" />
                    <span asp-validation-for="ReportRepair" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="PersonHours" /> @Html.DisplayNameFor(model => model.PersonHours)
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="PersonHoursTime" class="control-label"></label>
                    <input asp-for="PersonHoursTime" class="form-control" />
                    <span asp-validation-for="PersonHoursTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PersonHoursDescription" class="control-label"></label>
                    <input asp-for="PersonHoursDescription" class="form-control" />
                    <span asp-validation-for="PersonHoursDescription" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="ProductionPlanning" /> @Html.DisplayNameFor(model => model.ProductionPlanning)
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="ProductionPlanningTime" class="control-label"></label>
                    <input asp-for="ProductionPlanningTime" class="form-control" />
                    <span asp-validation-for="ProductionPlanningTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProductionPlanningDescription" class="control-label"></label>
                    <input asp-for="ProductionPlanningDescription" class="form-control" />
                    <span asp-validation-for="ProductionPlanningDescription" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="NoSpareParts" /> @Html.DisplayNameFor(model => model.NoSpareParts)
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="NoSparePartsTime" class="control-label"></label>
                    <input asp-for="NoSparePartsTime" class="form-control" />
                    <span asp-validation-for="NoSparePartsTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NoSparePartsDescription" class="control-label"></label>
                    <input asp-for="NoSparePartsDescription" class="form-control" />
                    <span asp-validation-for="NoSparePartsDescription" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Other" /> @Html.DisplayNameFor(model => model.Other)
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="OtherTime" class="control-label"></label>
                    <input asp-for="OtherTime" class="form-control" />
                    <span asp-validation-for="OtherTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="OtherDescription" class="control-label"></label>
                    <input asp-for="OtherDescription" class="form-control" />
                    <span asp-validation-for="OtherDescription" class="text-danger"></span>
                </div>
                @*<div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="CloseRequest" /> @Html.DisplayNameFor(model => model.CloseRequest)
            </label>
        </div>
        <div class="form-group">
            <label asp-for="DateTimeClosing" class="control-label"></label>
            <input asp-for="DateTimeClosing" class="form-control" />
            <span asp-validation-for="DateTimeClosing" class="text-danger"></span>
        </div>*@
            </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="RepairOutside" /> @Html.DisplayNameFor(model => model.RepairOutside)
                    </label>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </div>
     
</form>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts
{
    <script>
        $('#date1').MdPersianDateTimePicker({
            targetTextSelector: '#StartWorking',
            targetDateSelector: '#StartWorkingMiladi',
            dateFormat: 'yyyy-MM-dd hh:mm:ss',
            disableAfterToday: true,
            enableTimePicker: true,
        });

    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
