@model NetSystem.Entity.WorkOrder

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>WorkOrder</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDelete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDelete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestRepair)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestRepair.RequestTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Electrical)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Electrical)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mecanical)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mecanical)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Piping)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Piping)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Creating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Creating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Equip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Equip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RepairOutside)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RepairOutside)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RepairOutSideReportID_FK)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RepairOutSideReportID_FK)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartWorking)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartWorking)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cause_Exhaustion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cause_Exhaustion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cause_OperatorNegligence)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cause_OperatorNegligence)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cause_QualityofSpareParts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cause_QualityofSpareParts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cause_RepairmanError)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cause_RepairmanError)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherError)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherError)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherErrorDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherErrorDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReportRepair)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReportRepair)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonHoursTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonHoursTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonHoursDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonHoursDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductionPlanning)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductionPlanning)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductionPlanningTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductionPlanningTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductionPlanningDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductionPlanningDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoSpareParts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoSpareParts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoSparePartsTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoSparePartsTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoSparePartsDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoSparePartsDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Other)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Other)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CloseRequest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CloseRequest)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTimeClosing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTimeClosing)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
