@model NetSystem.Entity.WorkOrder

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>WorkOrder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDelete" /> @Html.DisplayNameFor(model => model.IsDelete)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="RequestID_FK" class="control-label"></label>
                <select asp-for="RequestID_FK" class="form-control" asp-items="ViewBag.RequestID_FK"></select>
                <span asp-validation-for="RequestID_FK" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Electrical" /> @Html.DisplayNameFor(model => model.Electrical)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Mecanical" /> @Html.DisplayNameFor(model => model.Mecanical)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Piping" /> @Html.DisplayNameFor(model => model.Piping)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Creating" /> @Html.DisplayNameFor(model => model.Creating)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Equip" /> @Html.DisplayNameFor(model => model.Equip)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RepairOutside" /> @Html.DisplayNameFor(model => model.RepairOutside)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="RepairOutSideReportID_FK" class="control-label"></label>
                <input asp-for="RepairOutSideReportID_FK" class="form-control" />
                <span asp-validation-for="RepairOutSideReportID_FK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartWorking" class="control-label"></label>
                <input asp-for="StartWorking" class="form-control" />
                <span asp-validation-for="StartWorking" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Cause_Exhaustion" /> @Html.DisplayNameFor(model => model.Cause_Exhaustion)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Cause_OperatorNegligence" /> @Html.DisplayNameFor(model => model.Cause_OperatorNegligence)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Cause_QualityofSpareParts" /> @Html.DisplayNameFor(model => model.Cause_QualityofSpareParts)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Cause_RepairmanError" /> @Html.DisplayNameFor(model => model.Cause_RepairmanError)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="OtherError" /> @Html.DisplayNameFor(model => model.OtherError)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="OtherErrorDescription" class="control-label"></label>
                <input asp-for="OtherErrorDescription" class="form-control" />
                <span asp-validation-for="OtherErrorDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportRepair" class="control-label"></label>
                <input asp-for="ReportRepair" class="form-control" />
                <span asp-validation-for="ReportRepair" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PersonHours" /> @Html.DisplayNameFor(model => model.PersonHours)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="PersonHoursTime" class="control-label"></label>
                <input asp-for="PersonHoursTime" class="form-control" />
                <span asp-validation-for="PersonHoursTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonHoursDescription" class="control-label"></label>
                <input asp-for="PersonHoursDescription" class="form-control" />
                <span asp-validation-for="PersonHoursDescription" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProductionPlanning" /> @Html.DisplayNameFor(model => model.ProductionPlanning)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ProductionPlanningTime" class="control-label"></label>
                <input asp-for="ProductionPlanningTime" class="form-control" />
                <span asp-validation-for="ProductionPlanningTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductionPlanningDescription" class="control-label"></label>
                <input asp-for="ProductionPlanningDescription" class="form-control" />
                <span asp-validation-for="ProductionPlanningDescription" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="NoSpareParts" /> @Html.DisplayNameFor(model => model.NoSpareParts)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="NoSparePartsTime" class="control-label"></label>
                <input asp-for="NoSparePartsTime" class="form-control" />
                <span asp-validation-for="NoSparePartsTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoSparePartsDescription" class="control-label"></label>
                <input asp-for="NoSparePartsDescription" class="form-control" />
                <span asp-validation-for="NoSparePartsDescription" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Other" /> @Html.DisplayNameFor(model => model.Other)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="OtherTime" class="control-label"></label>
                <input asp-for="OtherTime" class="form-control" />
                <span asp-validation-for="OtherTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OtherDescription" class="control-label"></label>
                <input asp-for="OtherDescription" class="form-control" />
                <span asp-validation-for="OtherDescription" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CloseRequest" /> @Html.DisplayNameFor(model => model.CloseRequest)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DateTimeClosing" class="control-label"></label>
                <input asp-for="DateTimeClosing" class="form-control" />
                <span asp-validation-for="DateTimeClosing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
