@model IEnumerable<NetSystem.ViewModels.RequestRepair.RequestRepairListViewModel>

@{
    ViewData["Title"] = "درخواست های جاری";
}
<h2>درخواست های جاری</h2>
<hr />
<div>
    @if (Model == null)
    {
        <h2> درخواستی ندارید</h2>
    }
    else
    {
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.ID)</th>
                    <th>@Html.DisplayNameFor(model => model.RequestDataTime)</th>
                    <th>@Html.DisplayNameFor(model => model.MachineryCode)</th>
                    <th>@Html.DisplayNameFor(model => model.MachineryTitel)</th>
                    <th>@Html.DisplayNameFor(model => model.TypeofRepairID_FK)</th>
                    <th>@Html.DisplayNameFor(model => model.RequestTitle)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.ID)</td>
                        <td>@Html.DisplayFor(modelItem => item.RequestDataTime)</td>
                        <td>@Html.DisplayFor(modelItem => item.MachineryCode)</td>
                        <td>@Html.DisplayFor(modelItem => item.MachineryTitel)</td>
                        <td>@Html.DisplayFor(modelItem => item.TypeofRepairID_FK)</td>
                        <td>@Html.DisplayFor(modelItem => item.RequestTitle)</td>
                        <td>
                            <a asp-action="Create" asp-controller="WorkOrders" class="btn btn-success" asp-route-id="@item.ID">ثبت گزارش</a> 
                            @*<a asp-action="Details" class="btn btn-info" asp-route-id="@item.ID">جزئیات</a>*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

</div>


